* {
    margin:0; 
    padding:0;
}

body{
    background-color: #52e594;
}

nav {
   margin:auto;
   text-align: center;
   width: 100%;
   font-family: arial;
   margin-bottom: -4px;

} 

nav ul {
   background:white;
   padding: 0 0px;
   list-style: none;
   position: relative;
   display: inline-table;
   width: 100%;
}

nav ul li{
   float:right;
   margin-right: 40px;
}

nav ul li:hover{
   background:#d68d9a;
}

nav ul li:hover a{
    color:black;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
  }

.boxkembali{
    height: 50px;
    width: 130px;
    background-color: white;
    border: solid black 3px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 20px;
    text-align: center;

}

.boxpesan{
    height: 60px;
    width: 150px;
    margin-right: 400px;
    margin-left: auto;
    background-color: white;
    border: solid black 3px;
    border-radius: 30px;
    float: right;
    position: relative;
    display: block;
    text-align: center;
    
}

.boxnamaproduct{
    width: 65%;
    height: 120px;
    margin-left: 70px;
    margin-top: 25px;
    background-color: grey;
    border: solid 2px black;
    text-align: center;
    font-size: 45px;
}

.img_cctv{
    width: 300px;
    height: 300px;
}

.imgbox{
    height: 300px;
    width: 300px;
    background-color: white;
    border: solid black 1px;
    margin-inline: 35px; 
    float: right;
    margin-left: auto;
    margin-right: 90px;
}

.boxdescproduct{
    width: 65%;
    height: 400px;
    margin-left: 70px;
    background-color: white;
    border: solid 2px black;
    text-align: left;
}

footer{
    text-align: center!important;
    color: black;
    width: auto;
    height: auto;
    margin: 0px;
    background-color: white;
    margin-top: 100px;
}

.imglogo{
    width: 150px;
    height: 60px;
    float: left;
    margin-left: 30px;
}

.imgcctv{
    margin: auto;
    width: 130px;
    height: 130px;
}

